.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .controls__field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
}
